@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.dropdown {
    --primary: #de4b3e;
    --secondary: #c74237;
    width: 300px;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 4px;
}
.dropdown__select {
    border-radius: inherit;
}
.dropdown__list {
    margin-top: 2.5rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
}
.dropdown__list:before {
    content: "";
    height: 2.5rem;
    position: absolute;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}
.dropdown:hover .dropdown__list {
    display: block;
}
.dropdown__select,
.dropdown__item {
    width: 100%;
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown__item {
    transition: background-color 0.2s linear;
}
.dropdown__item:first-child {
    border-radius: 4px 4px 0 0;
    position: relative;
}
.dropdown__item:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 3rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--primary);
    transform: translateY(-100%);
    transition: border-color 0.2s linear;
}
.dropdown__item:first-child:hover:before {
    border-bottom-color: var(--secondary);
}
.dropdown__item:last-child {
    border-radius: 0 0 4px 4px;
}
.dropdown__item:hover {
    background-color: var(--secondary);
}